APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://backend.twiins.local

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=backend
DB_USERNAME=sail
DB_PASSWORD=password

JWT_SECRET=FkevStRuAAEVWHQcfMcQ0DRpaVJNz4unZFbXTUOWWFfXRmRcCuyqCaRhH0datPaM

LOG_CHANNEL=stack
CACHE_STORE=database
QUEUE_CONNECTION=database
SESSION_DRIVER=database
